.container{
    width: 80%;
    margin: 0 auto;
}

.block{
    border: 0.5px solid rgb(0 0 0 / 20%);
    box-shadow: 0 6px 10px rgb(0 0 0 / 20%);
    gap: 30px;
    height: 665px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.style{
    width: 370px;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    border: 0.5px solid rgb(0 0 0 / 20%);
    box-shadow: 0 6px 10px rgb(0 0 0 / 20%);
    
}

.forma{
    gap: 20px;
    width: 370px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgb(0 0 0 / 20%);
    box-shadow: 0 6px 10px rgb(0 0 0 / 20%);
}

.textLogo{
    width: 200px;
}

.input{
    width: 300px;
    height: 20px;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    border: 0.5px solid rgb(0 0 0 / 20%);
    box-shadow: 0 6px 10px rgb(0 0 0 / 20%);

}

.button{
    width: 300px;
    height: 40px;
    cursor: pointer;
    color: var(--white);
    background-color: rgb(0, 130, 98255);
    border: none;
    outline: none;
    border-radius: 8px;
    border: 0.5px solid rgb(0 0 0 / 20%);
    box-shadow: 0 6px 10px rgb(0 0 0 / 20%);
}

.button:hover{
    background-color: rgb(0, 90, 255);
}

.or{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.linia{
    display: inline-block;
    width: 100px;
    background-color: rgb(114, 114, 114);
    border: 0.1px solid rgb(91, 91, 91);
    border-radius: 50px;
}