.resizeContentBox {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    /* border: solid 1px #ccc; */
}

.LeftCompmContent {
    width: 3.8rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin: 0 .8rem;
    cursor: pointer;
}

.LeftCompmContent .LeftCopmFotos {
    position: relative; 
    width: 3.6rem;
    height: 3.6rem;
}

.LeftCompmContent .LeftCopmFotos::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(217deg, rgb(252 1 111), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgb(255 200 0), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    width: 116%;
    height: 116%;
    border-radius: 50px;
    z-index: -2;
}

.LeftCompmContent .LeftCopmFotos::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 107%;
    height: 107%;
    border-radius: 50px;
    z-index: -1;
}

.LeftCompmContent .LeftCopmFotos img {
    width: 100%;
    border-radius: 50px;
}

.LeftCompmContent p {
    font-size: .8rem;
    margin-top: .8rem;
}