.container {
    width: 70%;
    margin: 0 auto;
}

.navbar {
    height: 60px;
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid rgb(189, 189, 189);
}

.textLogo {
    width: 110px;
    padding-top: 10px;
}

.actions {
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.search{
    display: none;
}

.avatar{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
}



@media screen and (max-width: 1100px) {

    .actions {
        margin-left: 3rem;
    }
}

@media screen and (max-width: 1000px) {

    .navbar,
    .actions {
        gap: 5rem;
        margin-left: 0;
    }
}

@media screen and (max-width: 900px) {
    .navbar {
        justify-content: center;
        gap: 90%;
    }

    .actions {
        display: none;
    }

    .search {
        display: block;
        color: black;
        font-size: 1.5rem;
    }

    .actionsItem{
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 2rem
    }
}

@media screen and (max-width: 800px) {
    .navbar {
        justify-content: center;
        gap: 11rem;
    }

    .actionsItem{
        gap: 1rem
    }
}