.posting {
  border-top: 1px solid var(--gray);
  border-top-width: 100%;
  margin-top: 65px;
}
/*  ADDABLE CLASS WHEN SWITCHING TOGGLES */
.borderTop {
  border-top: 1px solid black;
}
.postingBtns {
  display: flex;
  justify-content: center;
  position: relative;
  vertical-align: baseline;
  justify-items: space-between !important;
}
.toggleBar {
  display: flex;
  align-items: center !important;
  padding: 15px;
  font-size: 13px;
}
.postingBtns span {
  margin: 3px 6px 0 0;
}
.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(293px, 293px);
  gap: 28px !important;
}
.postImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  border-radius: 2px;
}
.partImgsOfPosts:hover {
  opacity: 0.5;
}
.partImgsOfPosts {
  overflow: hidden;
}
.posts {
  transition: all 0.5s ease-out;
}
