.inputShare{
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.5px solid black ;
}

.inputShare > input{
    border: none;
    outline: none;
    box-sizing: content-box;
    padding: 10px 20px;
    width: 80%;
    font-size: 1rem;
}

.smile, .share{
    font-size: 1.5rem;
    cursor: pointer;
}