@font-face {
  font-family: "ubuntu-regular";
  src: url("./fonts/Ubuntu/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: "ubuntu-bold";
  src: url("./fonts/Ubuntu/Ubuntu-Bold.ttf");
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ubuntu-regular";
}
:root{
  --royal-blue: #405de6;
  --blue: #5b51d8;
  --purple: #833ab4;
  --dark-pink: #c13584;
  --purple-red: #e1306c;
  --red:#fd1d1d;
  --dark-orange: #f56040;
  --orange: #f77737;
  --yellow: #fcaf45;
  --light-yellow: #ffdc80;
  --font-lg: 48px;
  --font-md: 18px;
}
@media screen and (max-width:990px) {
  :root{
    --font-lg: 32px;
    --font-md: 16px;
  }
}
@media screen and (max-width:600px) {
  :root{
    --font-lg: 28px;
    --font-md: 14px;
  }
}

li{
  list-style: none;
}
a{
  text-decoration: none;
}