.container{
    width: 100%;
    min-height: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block{
    min-height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgb(0 0 0 / 20%);
    box-shadow: 0 6px 10px rgb(0 0 0 / 20%);
    background-color: black;
}

.title{
    width: 70%;
    height: 100%;

}

.mediaContent{
    display: none;
    background-color: black;
}

@media screen and (max-width: 800px) {
    .block{
        min-height: 650px;
        flex-direction: column;
    }

    .title{
        width: 100%;
    }

    .content{
        display: none;
    }

    .mediaContent{
        display: block;
    }
}



